<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="categorieForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="nomcategorie" class="fs-5 mt-2">Nom de la Categorie</label>
      <input
        type="text"
        id="nomcategorie"
        class="form-control mb-4 p-3 mt-3"
        formControlName="nomcategorie"
      />
    </div>

    <div class="form-group">
      <input
        style="display: none"
        type="file"
        class="mb-4 p-3"
        (change)="onFileChanged($event)"
        #fileInput
      />
      <button
        type="button"
        (click)="fileInput.click()"
        class="btn btn-success mb-4 p-3"
      >
        Select File <i class="fa fa-upload ms-2"></i>
      </button>

      <div>
        <p class="fw-bold fs-6">
          <span class="text-decoration-underline">Ancienne Image :</span
          >&nbsp;&nbsp; {{ imagecategorie }}
        </p>
        <div *ngIf="imagecategorie != null">
          <img
            src="../assets/images/{{ imagecategorie }}"
            width="50"
            height="50"
            class="mb-2"
          />
        </div>
      </div>

      <input
        type="text"
        readonly
        class="form-control mb-4 p-3"
        id="imagecategorie"
        name="imagecategorie"
        [(ngModel)]="cat.imagecategorie"
        formControlName="imagecategorie"
      />

      <div *ngIf="cat.imagecategorie != null">
        <img
          src="../assets/images/{{ cat.imagecategorie }}"
          width="120"
          height="50"
          class="mb-3"
        />
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-dark me-3 p-3">
        Enregistrer <i class="fa fa-database ms-2"></i>
      </button>
      <button
        type="button"
        class="btn btn-outline-dark ml-1 p-3"
        [mat-dialog-close]
      >
        <i class="fa fa-close"></i> Close
      </button>
    </div>
  </form>
</div>
