<footer class="footer bg-secondary mt-auto">
  <ul class="nav justify-content-center border-bottom pt-4 pb-4 mb-4">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link px-3 text-white fs-6">Acceuil</a>
    </li>
    <li class="nav-item">
      <a routerLink="/listcategories" class="nav-link px-4 text-white fs-6"
        >Categories</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/listscategories" class="nav-link px-4 text-white fs-6"
        >SousCategories</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/listarticles" class="nav-link px-4 text-white fs-6"
        >Nos Articles</a
      >
    </li>
  </ul>
  <p class="text-center text-white fs-6 pb-4">© 2022,Ayman BOURMECH</p>
</footer>
